.home {
    background-color: #e1e1e1;
    padding: 15px 67px;
    .topicSorts {
        background-color: #f0f0f0;
        width: 910px;
        &>nav {
            padding: 0 20px;
            height: 40px;
            @include prefix(box-sizing, border-box);
            background-color: #f6f6f6;
            li {
                display: inline-block;
                font-size: 15px;
                margin-right: 20px;
                line-height: 40px;
                a {
                    @include prefix(border-radius, 3px);
                    color: #80bd01;
                    padding: 3px 4px;
                }
            }
            .selected {
                a {
                    background-color: #80bd01;
                    color: #fff;
                }
            }
        }
        .pageNav {
            background-color: #fff;
            padding: 0 0 10px 10px;
            li {
                display: table-cell;
                font-size: 15px;
                color: #778087;
                border: 1px #ddd solid;
                border-collapse: collapse;
                a {
                    color: #778087;
                    display: table-cell;
                    height: 30px;
                    padding: 0 13px;
                    vertical-align: middle;
                    text-align: center;
                }
                .selected_page {
                    color: #80bd01;
                }
            }
            .ellipsis {
                height: 30px;
                padding: 0 13px;
                vertical-align: middle;
                text-align: center;
            } 
        }
    }
}
